# List all the pip packages needed by the Docker application
plotly>=6.4.0
dash>=3.3.0
dash_bootstrap_components>=2.0.4
Flask>=3.1.2
python-dateutil>=2.9.0.post0
tzlocal>=5.3.1
scipy>=1.16.3
urllib3>=2.5.0
pandas>=2.3.3
gunicorn>=23.0.0