# List all the pip packages needed by the Docker application
plotly==5.24.1
dash==2.18.2
dash_bootstrap_components==1.6.0
pandas==2.2.3
python-dateutil==2.9.0.post0
tzlocal==5.2
scipy==1.14.1
urllib3==2.2.3
gunicorn==23.0.0
